<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>

<settings>
<setting name="mapUnderscoreToCamelCase" value="true"/>
</settings>

<typeAliases>
<typeAlias type="hotel.model.Member" alias="Member"/>
<typeAlias type="hotel.model.Notice" alias="Notice"/>
<typeAlias type="hotel.model.Reservation" alias="Reservation"/>
</typeAliases>

</configuration>